﻿
@{
    ViewBag.Title = "Контакты";
}

<section id="page-title">

    <div class="container clearfix">
        <h1>Контакты</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")">Главная</a></li>
            <li class="active">Контакты</li>
        </ol>
    </div>

</section>
<!-- Content
        ============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Google Map
                    ============================================= -->
            <div class="col-md-8 bottommargin">

                <section id="map" style="height: 240px;"></section>

            </div>
            <!-- Google Map End -->

            <div class="col-md-4">

                <!-- Contact Info
                        ============================================= -->

                <address>
                    <strong>Адрес:</strong><br>
                    Москва <br>
                    Большая Дмитровка, 20<br>
                </address>
                <abbr title="Номер телефона"><strong>Телефон:</strong></abbr> +7 (999) 9780011
                <br>
                <abbr title="Часы работы"><strong>Часы работы:</strong></abbr> с 10:00 до 22:00 без выходных
                <br>
                <abbr title="По вопросам сотрудничества"><strong>Email:</strong></abbr> <a href="mailto:info@street-classic.ru">info@street-classic.ru</a>
                <br>
                <abbr title="Instagram"><strong>Insta: </strong></abbr> <a href="https://instagram.com/street.classic" target="_blank">@@street.classic</a>
                <br>
                <abbr title="WhatsApp"><strong>WhatsApp: </strong></abbr> <a href="whatsapp://+79999780011" target="_blank">89999780011</a>

                <!-- Contact Info End -->
                <!-- Testimonials
                        ============================================= -->

            </div>

        </div>

    </div>

</section>
<!-- #content end -->

@section JScripts
{
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [55.7629919, 37.61344750000001],
                zoom: 15
            });

            myPlacemark = new ymaps.Placemark([55.7629919, 37.61344750000001], {
                hintContent: 'Street Classic',
                balloonContent: 'Street Classic'
            });

            myMap.geoObjects.add(myPlacemark);
        }
    </script>
}
