﻿@{
    ViewBag.Title = "Доставка";
}

<section id="page-title">

    <div class="container clearfix">
        <h1>Доставка</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")">Главная</a></li>
            <li class="active">Доставка</li>
        </ol>
    </div>
</section>
<!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content" style="margin-bottom: 0px;">

    <div class="content-wrap">

        <div class="container clearfix">

            <div id="side-navigation" class="tabs custom-js ui-tabs ui-widget ui-widget-content ui-corner-all">

                <div class="col_one_third nobottommargin">

                    <ul class="sidenav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="snav-content1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#snav-content1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Стандартная<i class="icon-chevron-right"></i></a></li>
                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="snav-content2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#snav-content2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Экспресс доставка<i class="icon-chevron-right"></i></a></li>
                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="snav-content3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="#snav-content3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">Доставка заказов в регионы<i class="icon-chevron-right"></i></a></li>
                    </ul>

                </div>

                <div class="col_two_third col_last nobottommargin">

                    <div id="snav-content1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">
                        <h3>Стандартная доставка<span class="label">300₽</span></h3> Доставка курьером на следующий день после оформления заказа (при оформлении заказа после 18:30 доставка осуществляется через 1 день). Возможные интервалы доставки: с 10 до 13, с 13 до 16, с 16 до 19, с 19 до 22. 
                    </div>

                    <div id="snav-content2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
                        <h3>Экспресс доставка<span class="label">400₽</span></h3>Доставка курьером по Москве в течении 4х часов после оформления заказа (при оформлении заказа после 18:30 доставка осуществляется через 1 день).
                    </div>

                    <div id="snav-content3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
                        <h3>Доставка заказов в регионы<span class="label">500₽</span></h3>
                        Доставка в регионы осуществляется только по 100% предоплате стоимости заказа, с учетом стоимости доставки.<br/>
                        Доставка почтой России (бандероль, посылка) - от 3 до 12 дней.<br />
                        ЕМС доставка (бандероль, посылка) - до 4х дней.<br />
                        После отправки заказа, на электронную почту высылается трек - код для отслеживания почтового отправления!<br />
                        Стоимость доставки рассчитывается индивидуально (вес посылки учитывется).<br />
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>