﻿@model BrandShop.WebUI.Models.IndexViewModel

@{
    ViewBag.Title = "Главная страница";
}

	<!-- SLICK SLIDER -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" media="screen" title="no title" charset="utf-8">
<!-- Document Title
============================================= -->
<title>Street Classic</title>

<style media="screen">
    .product-image > a {
        transition: all .2s ease-in-out;
    }

        .product-image > a:hover {
            transform: scale(1.05);
        }

    .slider-h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .slider-p {
        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .slider-button {
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    		.product-overlay {
	    height: 30px;
	    line-height: 30px;
	    bottom: -30px;
		}

		.product-overlay a {
	    width: 100%;
  	  border-right: 0;
		}
</style>

<section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

    <!-- SLIDER -->
    <div id="slider-slides" style="overflow: hidden; max-height: 600px;">
        @foreach (var item in Model.ProductsForSlider)
        {
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
                    <img src="@Url.Action("GetImage", "Product", new {item.ProductId})" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" style="margin-top: 5%">
                    <h1 class="slider-h1">@item.Name</h1>

                    @if (item.IsSale)
                    {
                        <p class="slider-p">Всего за @item.Price.ToString("# рублей") <del>@item.OldPrice.ToString("# рублей")</del>!</p>
                    }
                    else
                    {
                        <p class="slider-p">Всего за @item.Price.ToString("# рублей")!</p>
                    }
                    
                    <a href="@Url.Action("View", "Product", new {item.ProductId})" class="slider-button knopka">Купить!</a>
                </div>
            </div>
        }
    </div>
    <!-- END SLIDER -->

</section>

<!-- Content
============================================= -->
<section id="content">

    <div class="content">

        <div class="container">

            <div class="fancy-title title-border title-center topmargin-sm">
                <h4>Последние поступления</h4>
            </div>

            <div id="shop" style="margin-bottom: 100px" class="shop grid-container clearfix" data-layout="fitRows">

               @foreach (var item in Model.Products)
               {
                   @Html.Partial("ProductSummary", item)
               }

            </div>

            <div class="clear"></div>

            <ul class="clients-grid grid-6 nobottommargin clearfix">
                <li>
                    <a href="#"><img src="/Content/images/clients/logo/1.png" alt="Clients"></a>
                </li>
                <li>
                    <a href="#"><img src="/Content/images/clients/logo/3.png" alt="Clients"></a>
                </li>
                <li>
                    <a href="#"><img src="/Content/images/clients/logo/7.png" alt="Clients"></a>
                </li>
                <li>
                    <a href="#"><img src="/Content/images/clients/logo/13.png" alt="Clients"></a>
                </li>
                <li>
                    <a href="#"><img src="/Content/images/clients/logo/14.png" alt="Clients"></a>
                </li>
                <li>
                    <a href="#"><img src="/Content/images/clients/logo/6.png" alt="Clients"></a>
                </li>
            </ul>

        </div>

        <div class="section nobottommargin">
            <div class="container clearfix">

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-thumbs-up2"></i>
                        </div>
                        <h3>100% оригинальный товар</h3>
                        <p class="notopmargin">Лучшее качество материалов</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-credit-cards"></i>
                        </div>
                        <h3>Удобная оплата</h3>
                        <p class="notopmargin">Наличный и безналичный расчет</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-truck2"></i>
                        </div>
                        <h3>Быстрая доставка</h3>
                        <p class="notopmargin">По Москве и регионам</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin col_last">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-undo"></i>
                        </div>
                        <h3>30-Дневная гарантия</h3>
                        <p class="notopmargin">Возврат и обмен в течение 30 дней</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<!-- #content end -->

@section JScripts
{
    <!-- SLICK SLIDER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#slider-slides').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 4000,
                adaptiveHeight: true
            });
        });
    </script>
}