﻿@using System.Globalization
@model IEnumerable<BrandShop.Domain.EntitiesDb.News>
@{
    ViewBag.Title = "Новости";
}

<section id="page-title">

    <div class="container clearfix">
        <h1>Новости</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")">Главная</a></li>
            <li class="active">Новости</li>
        </ol>
    </div>

</section>

<section id="content" style="margin-bottom: 0px;">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Posts
            ============================================= -->
            @foreach (var item in Model)
            {
                <div id="posts">
                    <div class="entry clearfix">
                        <div class="entry-title">
                            <h2><a href="#">@item.Header</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> @item.CreateDateTime.ToString("D", new CultureInfo("ru"))</li>
                        </ul>
                        <div class="entry-content">
                            <p>
                                @item.Text
                            </p>
                        </div>
                    </div>
                </div>
            }
            <!-- #posts end -->
        </div>

    </div>

</section>