﻿@model IEnumerable<string>
<ul>
    <li @Html.Action("GetCurrent", new { Request.Url.Segments, name = "Catalog" })>
        <a href="@Url.Action("List", "Product")">
            <div>Каталог</div>
        </a>
        <ul>            
            @foreach (var link in Model)
            {
                <li>
                    @Html.RouteLink(link, new
                    {
                        controller = "Product",
                        action = "List",
                        category = link,
                        page = 1
                    })
                </li>
            }
        </ul>
    </li>
    <li @Html.Action("GetCurrent", new { Request.Url.Segments, name = "Delivery" })>
        <a href="@Url.Action("Delivery", "Information")">
            <div>Доставка</div>
        </a>
    </li>
    <li @Html.Action("GetCurrent", new { Request.Url.Segments, name = "Contacts" })>
        <a href="@Url.Action("Contacts", "Information")">
            <div>Контакты</div>
        </a>
    </li>
    <li @Html.Action("GetCurrent", new { Request.Url.Segments, name = "GetAll" })>
        <a href="@Url.Action("News", "Information")">
            <div>Новости</div>
        </a>
    </li>
</ul>