﻿<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="XATTAB"/>
    <meta name="Keywords" content="каталог обуви, обувь каталог, обувной магазин, обувь интернет, обувь интернет магазин, обувь, купить обувь, магазин обуви, сайт обуви, сапоги, сапоги зимние, кроссовки, кроссы, кроссовки зимние, кроссовки спортивные, кеды, конверс, конверсы, Converse, тимбы, тимберленд, Timberland, нью беланс, нью баланс, New Balance, NewBalance">
    <meta name="description" content="street-classic - молодежная обувь и аксессуары"> 

    <!-- Favicons
    ============================================= -->
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/Content/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Content/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Content/images/favicons/manifest.json">
    <link rel="mask-icon" href="/Content/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/css/bundle.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>@ViewBag.Title | street-classic - молодежная обувь и аксессуары</title>

    <style media="screen">
        .select-style {
            padding: 5px;
            margin: 0;
            border: 1px solid #EEE;
            border-radius: 15px;
            overflow: hidden;
            background: #F5F5F5;
        }

        .select-style select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .select-style select:focus {
            outline: none;
        }

        .product-image > a {
            transition: all .2s ease-in-out;
        }

        .product-image > a:hover {
            transform: scale(1.05);
        }
    </style>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40396010 = new Ya.Metrika({ id:40396010, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/40396010" style="position: absolute; left: -9999px;" alt=""/>
        </div></noscript> 
    <!-- /Yandex.Metrika counter -->

</head>
<body class="stretched no-smooth-scroll">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="@Url.Action("Index", "Information")" class="standard-logo" data-dark-logo="/Content/images/logo.png"><img src="/Content/images/logo.png" alt="Logo"></a>
                        <a href="@Url.Action("Index", "Information")" class="retina-logo" data-dark-logo="/Content/images/logo.png"><img src="/Content/images/logo.png" alt="Logo"></a>
                    </div>
                    <!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        @Html.Action("Menu", "Nav")

                        <!-- Top Cart
                        ============================================= -->
                        @Html.Action("Summary", "Cart")
                        <!-- #top-cart end -->

                    </nav>
                    <!-- #primary-menu end -->

                </div>

            </div>

        </header>
        <!-- #header end -->

        @RenderBody()

        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">
                    <div class="col_half">
                        2016 &copy; Street classic
                        <br> Молодежная одежда и аксесуары
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="https://www.instagram.com/street.classic/" class="social-icon si-small si-borderless">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        </div>

                        <div class="clear"></div>

                        <i class="icon-envelope2"></i> info@street-classic.ru <span class="middot">&middot;</span> <i class="icon-phone"></i> +7 (999) 9780011
                    </div>

                </div>

            </div>
            <!-- #copyrights end -->

        </footer>
        <!-- #footer end -->
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
<script type="text/javascript" src="~/Content/js/functions.js"></script>

@if (IsSectionDefined("JScripts"))
{
    @RenderSection("JScripts")
}

</body>
</html>