﻿@model BrandShop.Domain.EntitiesDb.Product

<div class="product clearfix">
    <div class="product-image">
        <a href="@Url.Action("View", "Product", new {@Model.ProductId})">
            @if (Model.ProductImages.Count != 0)
            {
                <img src="@Url.Action("GetImage", "Product", new {imageId = Model.ProductImages.FirstOrDefault()?.ProductImageId, area = ""})">
            }
            else
            {
                <img src="~/Content/images/no_photo.png">
            }
        </a>
        @if (Model.IsHit) { <div class="sale-flash">ХИТ</div> }
        <div class="product-overlay">
            <a href="#">Артикул: @Model.ProductId</a>
        </div>
    </div>
    <div class="product-desc">
        <div class="product-title">
            <h3><a href="@Url.Action("View", "Product", new {@Model.ProductId})">@Model.Name</a>
            </h3>
        </div>
        @if (Model.IsSale)
        {
            <div class="product-price"><ins>@Model.Price.ToString("# руб")</ins> <del>@Model.OldPrice.ToString("# руб")</del></div>
        }
        else
        {
            <div class="product-price">@Model.Price.ToString("# руб")</div>
        }
        
    </div>
</div>