﻿@using BrandShop.Domain.Entities
@model BrandShop.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Товары";
}

<style media="screen">
    .product-overlay {
        height: 30px;
        line-height: 30px;
        bottom: -30px;
    }

    .product-overlay a {
        width: 100%;
        border-right: 0;
    }
</style>

@*@foreach (var p in @Model.GetAll)
    {
        @Html.Partial("ProductSummary", p)
    }

    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
    </div>*@

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>

        <div class="breadcrumb">
            @using (Html.BeginForm())
            {
                <select name="filter" class="select-style" onchange="submit();">
                    <option @(Model.Filter == OrderFilter.FirstNew ? "selected" : "") value="0">Сначала новые</option>
                    <option @(Model.Filter == OrderFilter.FirstCheap ? "selected" : "") value="1">Сначала дешевые</option>
                    <option @(Model.Filter == OrderFilter.FirstPricey ? "selected" : "") value="2">Сначала дорогие</option>
                </select>
            }
        </div>
    </div>

</section>
<!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Shop
            ============================================= -->
            <div id="shop" class="shop grid-container clearfix" data-layout="fitRows">

                @foreach (var p in @Model.Products)
                {
                    @Html.Partial("ProductSummary", p)
                    }

                @*<div class="btn-group pull-right">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
                </div>*@

            </div>
            <!-- #shop end -->

            <div class="center">
                <ul class="pagination pagination-lg">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory, filter = Model.Filter }))
                </ul>
            </div>

        </div>

    </div>

</section>
<!-- #content end -->