﻿@using BrandShop.Domain.EntitiesDb
@model BrandShop.Domain.EntitiesDb.Product

@{
    ViewBag.Title = @Model.Name;
}
<style media="screen">
    .single-product .product-price {
        font-size: 36px;
    }

    .single-product .product-id {
        float: right;
        position: relative;
        top: 18px;
        color: #ccc;
    }
</style>
<!-- Page Title
        ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>@Model.Name</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Information")">Главная</a></li>
            <li><a href="@Url.Action("List", "Product")">Каталог</a></li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="single-product">

                <div class="product">

                    <div class="col_one_third">

                        <!-- Product Single - Gallery
                        ============================================= -->
                        <div class="product-image">
                            <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                <div class="flexslider">
                                    <div class="slider-wrap" data-lightbox="gallery">
                                        @if (Model.ProductImages.Count != 0)
                                        {
                                            foreach (ProductImage image in Model.ProductImages)
                                            {
                                                var imageUrl = Url.Action("GetImage", "Product", new { imageId = image.ProductImageId});
                                                <div class="slide" data-thumb="@imageUrl"><a href="@imageUrl" data-lightbox="gallery-item"><img src="@imageUrl"></a></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="slide" data-thumb="/Content/images/no_photo.png"><a href="/Content/images/no_photo.png" data-lightbox="gallery-item"><img src="/Content/images/no_photo.png"></a></div>
                                        }                                      
                                    </div>
                                </div>
                            </div>
                            @if (Model.IsHit)
                            { <div class="sale-flash">ХИТ</div> }
                        </div><!-- Product Single - Gallery End -->

                    </div>

                    <div class="col_two_third col_last product-desc">

                        <!-- Product Single - Price
                        ============================================= -->
                        @if (Model.IsSale)
                        {
                            <div class="product-price"><ins>@Model.Price.ToString("# руб")</ins> <del>@Model.OldPrice.ToString("# руб")</del></div><!-- Product Single - Price End -->
                        }
                        else
                        {
                            <div class="product-price">@Model.Price.ToString("# руб")</div>
                        }

                        <!-- Product Single - Price End -->

                        <div class="product-id">
                            <p>Артикул: @Model.ProductId</p>
                        </div>
                        <div class="clear"></div>
                        <div class="line"></div>

                        <!-- Product Single - Short Description
                        ============================================= -->
                        <p>@Model.Description</p>

                        <ul class="iconlist">
                            <li><i class="icon-caret-right"></i> Оригинальная обувь из натуральных материалов</li>
                            <li><i class="icon-caret-right"></i> При покупке двух пар - бесплатная доставка</li>
                            <li><i class="icon-caret-right"></i> 30 дней гарантии</li>
                        </ul>

                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {

                            <select class="selectpicker" data-width="fit" title="Размер" name="size">

                                @if (ViewBag.SizeArray != null)
                                {
                                    foreach (var item in ViewBag.SizeArray)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                            @Html.ValidationMessage("Size", new { @class = "text-danger" })
                            <br/>
                            <br/>

                            <div class="cart nobottommargin clearfix">
                                @Html.HiddenFor(x => x.ProductId)
                                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                                <input type="submit" class="add-to-cart button nomargin" value="Добавить в корзину" />
                            </div>
                        }

                    </div>

                </div>

            </div>

        </div>

    </div>

</section><!-- #content end -->

@section JScripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.selectpicker').selectpicker();
        });
    </script>
}