﻿@model BrandShop.Domain.EntitiesDb.News

@{
    ViewBag.Title = "Добавление новости";
    ViewBag.SubTitle = "Добавление новости";
}

<div>
    @using (Html.BeginForm("Create", "News"))
    {
        @Html.EditorForModel()

        <div class="panel-footer">
            <input type="submit" value="Добавить" class="btn btn-primary"/>
            @Html.ActionLink("Вернуться назад", "Index", null, new {@class = "btn btn-default"})
        </div>
    }
</div>