﻿@model BrandShop.Domain.EntitiesDb.News

@{
    ViewBag.Title = "Редактирование новостей";
    ViewBag.SubTitle = "Редактирование новости: " + @Model.Header;
    ViewBag.CurrentPage = "news";
}

<div>
    @using (Html.BeginForm("Edit", "News"))
    {
        @Html.EditorForModel()

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>