﻿@{
    ViewBag.Title = "Новости";
    ViewBag.SubTitle = "Список новостей";
    ViewBag.CurrentPage = "news";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div id="results"></div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить новость", "Create", new {area = "Administration"}, new {@class = "btn btn-default"})
        <div class="btn btn-default" onclick="Update()">Обновить данные</div>
    </div>
</div>
@section JS {
    <script>
        function Update() {
            $('#results').load('@Url.Action("ShowAll")');
        }
        
        $(document).ready(function () {
            Update();
        });

        function AreYouRealy(newsIdp) {
            window.swal({
                title: 'Вы уверены?',
                text: "Удалив запись, вы не сможете её восстановить!",
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Удалить!',
                cancelButtonText: 'Отменить'
            }).then(function () {
                window.swal(
                    'Удалено!',
                    'Новость успешно удалена.',
                    'success'
                );
                var urlRequest = "@Url.Action("Delete")" + "?NewsId=" + newsIdp;
                $.get(urlRequest);
                setTimeout(Update(), 1000);
            });
        }
    </script>
}