﻿@model IEnumerable<BrandShop.Domain.EntitiesDb.News>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th class="text-center">ID</th>
        <th>Название</th>
        <th class="text-center">Действия</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @item.NewsId
            </td>
            <td>
                @Html.ActionLink(item.Header, "Edit", new { item.NewsId })
            </td>
            <td class="text-center">
                <div class="btn btn-default btn-xs" onclick="AreYouRealy(@item.NewsId)">Удалить</div>
            </td>
        </tr>
    }
</table>