﻿@model BrandShop.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Форма заказа";
}

<section id="page-title">

    <div class="container clearfix">
        <h1>Оформление заказа</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Information")">Главная</a></li>
            <li><a href="@Url.Action("Index", "Cart")">Корзина</a></li>
            <li class="active">Оформление заказа</li>
        </ol>
    </div>

</section>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- FORM -->
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                ;

                <div class="col_half">
                    <label for="billing-form-name">Имя:</label>
                    @*<input type="text" id="firstname" name="billing-form-name" value="" class="sm-form-control">*@
                    @Html.TextBoxFor(x => x.FirstName, new {@class = "sm-form-control"})
                </div>

                <div class="col_half col_last">
                    <label for="billing-form-lname">Фамилия:</label>
                    @*<input type="text" id="lastname" name="billing-form-lname" value="" class="sm-form-control">*@
                    @Html.TextBoxFor(x => x.LastName, new {@class = "sm-form-control"})
                </div>

                <div class="col_full">
                    <label for="billing-form-add">Адрес:</label>
                    @*<input type="text" id="address" name="billing-form-add" value="" class="sm-form-control">*@
                    @Html.TextBoxFor(x => x.Address, new {@class = "sm-form-control"})
                </div>

                <div class="col_half">
                    <label for="billing-form-email">Email:</label>
                    @*<input type="email" id="email" name="billing-form-email" value="" class="sm-form-control">*@
                    @Html.TextBoxFor(x => x.Email, new {@class = "sm-form-control"})
                </div>

                <div class="col_half col_last">
                    <label for="billing-form-phone">Телефон:</label>
                    @*<input type="text" id="phone" name="billing-form-phone" value="" class="sm-form-control">*@
                    @Html.TextBoxFor(x => x.PhoneNumber, new {@class = "sm-form-control"})
                </div>

                @*<input type="submit" class="button button-3d fright" value="Оформить заказ">*@

                <div class="col_half">
                    <select id="TypeDelivery" name="TypeDelivery" class="selectpicker" data-width="fit" title="Укажатие способ доставки товара">
                        <option data-subtext="300₽" @(Model.TypeDelivery == 1 ? "selected=\"selected\"" : "") value="1">Стандартная доставка</option>
                        <option data-subtext="400₽" @(Model.TypeDelivery == 2 ? "selected=\"selected\"" : "") value="2">Экспресс доставка</option>
                        <option data-subtext="500₽" @(Model.TypeDelivery == 3 ? "selected=\"selected\"" : "") value="3">Доставка заказов в регионы</option>
                    </select>
                </div>

                <div class="col_half col_last">
                    <input type="submit" class="button button-3d fright" value="Оформить заказ">
                </div>
            }

        </div>

    </div>

</section>

@section JScripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $(function() {
      $('.selectpicker').selectpicker();
    });
</script>
}

@*<h2>Оформить заказ сейчас</h2>
<p>Пожалуйста введи ваши контактные данные, и мы сразу отправим товар!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Данные</h3>
    <div class="form-group">
        <label>Ваше имя:</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    </div>

    <h3>Адрес доставки</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyFirstName != "FirstName" && property.PropertyFirstName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayFirstName ?? property.PropertyFirstName)</label>
                @Html.TextBox(property.PropertyFirstName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Опции</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Использовать подарочную упаковку?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>
}*@