﻿@{
    ViewBag.Title = "Заказ обработан";
}

<!-- Content
============================================= -->
<!-- Document Wrapper
============================================= -->
<div class="clearfix">

    <!-- Content
    ============================================= -->
    <section>

        <div class="content-wrap">

            <div class="container center clearfix">

                <div class="heading-block center">
                    <h1>Спасибо!</h1>
                    <span>Ты клевый!</span>
                </div>
                <p>Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен в службу доставки</p>
            </div>

        </div>

    </section>
    <!-- #content end -->
</div>
<!-- #wrapper end -->
<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>