﻿@model BrandShop.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
}
<style>
  .not-active {
    
   pointer-events: none;
   cursor: default;
} 
</style>

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li><a href="#">Главная</a></li>
            <li class="active">Корзина</li>
        </ol>
    </div>

</section>
<!-- #page-title end -->

<!-- Content
        ============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            @if (Model.Cart.Lines.Count() == 0)
            {
                <div class="row clearfix">
                    <h2 class="text-center">Ваша корзина пока что пуста :(</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-md-8 col-md-offset-4 nopadding">
                        <a href="@Model.ReturnUrl" class="button button-3d nomargin fright">Продолжить покупки</a>
                    </div>
                </div>
            }
            else
            {
                <table class="table cart">
                    <thead>
                    <tr>
                        <th class="cart-product-remove">&nbsp;</th>
                        <th class="cart-product-thumbnail">&nbsp;</th>
                        <th class="cart-product-name">Товар</th>
                        <th class="cart-product-size">Размер</th>
                        <th class="cart-product-price">Цена</th>
                        <th class="cart-product-quantity">Количество</th>
                        <th class="cart-product-subtotal">Общая цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr class="cart_item">
                            <td class="cart-product-remove">
                                <a href="@Url.Action("Remove", "Cart", new {line.Product.ProductId, Model.ReturnUrl})" class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
                            </td>

                            <td class="cart-product-thumbnail">
                                <a href="@Url.Action("View", "Product", new {line.Product.ProductId})">
                                    @if (line.Product.ProductImages.Count != 0)
                                    {
                                        <img width="64" height="64" src="@Url.Action("GetImage", "Product", new {line.Product.ProductId})">
                                    }
                                    else
                                    {
                                        <img width="64" height="64" src="/Content/images/no_photo.png">
                                    }
                                </a>
                            </td>

                            <td class="cart-product-name">
                                <a href="@Url.Action("View", "Product", new {line.Product.ProductId})">@line.Product.Name</a>
                            </td>

                            <td class="cart-product-size">
                                <span>@line.SizeProduct</span>
                            </td>

                            <td class="cart-product-price">
                                <span class="amount">@line.Product.Price.ToString("# руб")</span>
                            </td>

                            <td class="cart-product-quantity">
                                <span>@line.Quantity</span>
                            </td>

                            <td class="cart-product-subtotal">
                                <span class="amount">@((line.Quantity*line.Product.Price).ToString("# руб"))</span>
                            </td>
                        </tr>
                    }

                    <tr class="cart_item">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">
                            <strong>Итого</strong>
                        </td>

                        <td class="cart-product-subtotal">
                            <span class="amount"><strong>@Model.Cart.ComputeTotalValue().ToString("# руб")</strong></span>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div class="row clearfix">
                    <div class="col-md-8 col-md-offset-4 nopadding">
                        <a href="@Url.Action("Checkout")" class="button button-3d notopmargin fright @(Model.Cart.Lines.Count() == 0 ? "not-active" : "")">Оформить заказ</a>
                        <a href="@Model.ReturnUrl" class="button button-3d nomargin fright">Продолжить покупки</a>
                    </div>
                </div>
            }
        </div>

    </div>

</section>
<!-- #content end -->