﻿@model BrandShop.Domain.Entities.Cart

@*<div class="navbar-right">
    @Html.ActionLink("Заказать", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Ваша корзина:</b>
    Количество товара: @Model.Lines.Sum(x => x.Quantity),
    @Model.ComputeTotalValue().ToString("# руб")
</div>*@

<div id="top-cart">
    <a href="@Url.Action("Index", new {returnUrl = Request.Url.PathAndQuery})">
        <i class="icon-shopping-cart"></i><span>@Model.Lines.Sum(x => x.Quantity)</span>
    </a>
</div>