﻿@model BrandShop.Domain.EntitiesDb.News

<div class="panel-body">
    <div class="form-group">
        @Html.ValidationSummary(true)
    </div>
    @Html.HiddenFor(x => x.NewsId)
    <div class="form-group">
        <label>Название</label>
        @Html.ValidationMessageFor(x => x.Header)
        @Html.TextBoxFor(x => x.Header, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Описание</label>
        @Html.ValidationMessageFor(x=>x.Text)
        @Html.TextAreaFor(x => x.Text, 5, 0, new { @class = "form-control" })
    </div>
</div>