﻿@using BrandShop.Domain.EntitiesDb
@model BrandShop.Domain.EntitiesDb.Product

<div class="panel-body">
    <div class="form-group">
        @Html.ValidationSummary(true)
    </div>
    @Html.HiddenFor(m => m.ProductId)
    <div class="form-group">
        <label>Название</label>
        @Html.ValidationMessageFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, null, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Описание</label>
        @Html.ValidationMessageFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description, 5, 0, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Категория</label>
        @Html.ValidationMessageFor(x => x.Category)
        @Html.TextBoxFor(x => x.Category, null, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Цена</label>
        @Html.ValidationMessageFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, null, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Размеры</label>
        @Html.ValidationMessageFor(x => x.Sizes)
        @Html.TextBoxFor(x => x.Sizes, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Хит</label>
        @Html.ValidationMessageFor(x => x.IsHit)
        @Html.CheckBoxFor(x => x.IsHit)
    </div>
    <div class="form-group">
        <label>Для главной</label>
        @Html.ValidationMessageFor(x => x.ForMain)
        @Html.CheckBoxFor(x => x.ForMain)
    </div>
    <div class="form-group">
        <label>Распродажа</label>
        @Html.ValidationMessageFor(x => x.IsSale)
        @Html.CheckBoxFor(x => x.IsSale)
    </div>
    <div class="form-group">
        <label id="OldPrice-lb">Старая цена</label>
        @Html.ValidationMessageFor(x => x.OldPrice)
        @Html.TextBoxFor(x => x.OldPrice, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input accept="image/jpeg,image/png,jpg|png" id="Image" multiple="multiple" name="Images" type="file" class="btn-group-lg"/>
        @Html.ValidationMessageFor(x=>x.ProductImages)<br/><br/>
        <div class="row">
            @if (Model.ProductImages.Count == 0)
            {
                <div class="form-control-static">Изображения товара отсутствуют!</div>
            }
            else
            {
                foreach (ProductImage iamge in Model.ProductImages)
                {
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <a class="close" href="@Url.Action("DeleteImage", "Product", new {imageId = iamge.ProductImageId, area = "Administration" })">×</a>
                            <img class="img-responsive" src="@Url.Action("GetImage", "Product", new {imageId = iamge.ProductImageId, area = ""})"/>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>