﻿@using BrandShop.Domain.Entities
@using BrandShop.Domain.EntitiesDb
@model IEnumerable<BrandShop.Domain.EntitiesDb.Order>

@{
    ViewBag.Title = "Админ панель: список заказов";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список заказов</h3>
        <a href="@Url.Action("Index", new { status = OrderStatus.New })" class="btn btn-default btn-xl @Html.Action("GetActive", new { Request.Url.Query, thisStatus = "New" })">Новые заказы</a>
        <a href="@Url.Action("Index", new {status = OrderStatus.NotTake})" class="btn btn-default btn-xl @Html.Action("GetActive", new { Request.Url.Query, thisStatus = "NotTake" })">Не дозвонились</a>
        <a href="@Url.Action("Index", new {status = OrderStatus.Processing})" class="btn btn-default btn-xl @Html.Action("GetActive", new { Request.Url.Query, thisStatus = "Processing" })">В обработке</a>
        <a href="@Url.Action("Index", new { status = OrderStatus.Delivered })" class="btn btn-default btn-xl @Html.Action("GetActive", new { Request.Url.Query, thisStatus = "Delivered" })">Выполненные</a>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Имя</th>
                <th>Номер телефона</th>
                <th>Email</th>
                <th>Статус заказа</th>
                <th>Дата заказа</th>
                <th class="text-right">Сумма заказа</th>
                <th class="text-center">Действия</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.OrderId</td>
                    <td>@item.FullName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>@item.OrderStatus.ToStringDesctiption()</td>
                    <td>@item.CreateDateTime.ToShortDateString()</td>
                    <td class="text-right">@Html.Action("GetTotallSum", new { item.OrderId })</td>
                    <td class="text-center">
                        <a href="@Url.Action("View", new { item.OrderId})" class="btn btn-default btn-xs">Просмотр заказа</a>
                        <a href="@Url.Action("DeleteOrder", new {item.OrderId})"  onclick="return confirm('Вы уверены что хотите удалить заказ?')" class="btn btn-default btn-xs">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>