﻿@using System.Globalization
@model BrandShop.Domain.EntitiesDb.Order

@{
    ViewBag.Title = "Админ панель: редактирование новостей";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование заказа №@Model.OrderId</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <label>Товары в заказе:</label>
        </div>

        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Название</th>
                <th class="text-center">Размер</th>
                <th class="text-center">Цена</th>
                <th class="text-center">Количество</th>
                <th class="text-center">Действие</th>
            </tr>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td class="text-center"><a href="@Url.Action("View", "Product", new {item.Product.ProductId})">@item.Product.Name</a></td>
                    <td class="text-center">@item.SizeProduct</td>
                    <td class="text-center">@item.Product.Price.ToString("# руб.")</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center"><a href="@Url.Action("DeleteOrderLine", new { Model.OrderId, item.OrderItemId })">Удалить</a></td>
                </tr>
            }
        </table>

        <div class="form-group">
            @using (Html.BeginForm("AddOrderLine", "AdminOrder", FormMethod.Post, new {@class = "form-inline"}))
            {
                <div class="text-left" style="color: firebrick; font-weight: bold;">
                    Итоговая сумма: @Model.OrderItems.Sum(x => x.Product.Price*x.Quantity).ToString("# руб.")
                </div>
                <div class="text-right">
                    @Html.HiddenFor(x => x.OrderId)
                    @Html.TextBox("ProductId", null, new { @class = "input-sm", placeholder = "Артикул товара" })
                    @Html.TextBox("Size", null, new { @class = "input-sm", placeholder = "Размер" })
                    @Html.TextBox("Quantity", null, new { @class = "input-sm", placeholder = "Количество" })
                    <input type="submit" class="btn" value="Добавить" />
                </div>
            }
        </div>

    </div>

    @using (Html.BeginForm("View", "AdminOrder"))
    {
        <div class="panel-body">
            <div class="form-group">
                <label>Инфомация о заказчике:</label>
            </div>

            @Html.HiddenFor(m => m.OrderId)

            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-center">Имя</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Номер телефона</th>
                    <th class="text-center">Дата заказа</th>
                    <th class="text-center">Статус</th>
                </tr>
                <tr>
                    <td class="text-center">@Html.TextBoxFor(x => x.FullName, null, new {@class = "form-control"})</td>
                    <td class="text-center">@Html.TextBoxFor(x => x.Email, null, new {@class = "form-control"})</td>
                    <td class="text-center">@Html.TextBoxFor(x => x.PhoneNumber, null, new {@class = "form-control"})</td>
                    <td class="text-center">@Model.CreateDateTime.ToString("D", new CultureInfo("ru"))</td>
                    <td class="text-center">@Html.DropDownList("OrderStatus", EnumCustomHelper.GetSelectList(Model.OrderStatus), new {@class = "form-control"})</td>
                </tr>
            </table>

            <div class="form-group">
                <label>Способ доставки</label>
                <p>
                    @switch (Model.TypeDelivery)
                    {
                        case 1:
                            @:Стандартная доставка (300 рублей)
                            break;
                        case 2:
                            @:Экспресс доставка (400 рублей)
                            break;
                        case 3:
                            @:Доставка заказов в регионы (500 рублей)
                            break;
                    }
                </p>
         
                     </div>
         

                     <div class="form-group">
                <label>Адрес</label>
                @Html.TextAreaFor(x => x.Address, new {@class = "form-control", rows = 3})
            </div>


            <div class="form-group">
                <label>Комментарий к заказу</label>
                @Html.TextAreaFor(x => x.Comment, new {@class = "form-control", rows = 3})
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary"/>
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new {@class = "btn btn-default"})
        </div>
    }
</div>