﻿@model BrandShop.Domain.EntitiesDb.Product

@{
    ViewBag.Title = "Добавление товара";
    ViewBag.SubTitle = "Добавление товара";
    ViewBag.CurrentPage = "products";
}

<div>
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.EditorForModel()

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

@section JS
{
    <script>
        var c = document.querySelector('#IsSale');
        var t = document.querySelector('#OldPrice');
        var l = document.querySelector('#OldPrice-lb');

        function Hide() {
            if (c.checked) {
                t.style.display = '';
                l.style.display = '';
            } else {
                t.style.display = 'none';
                l.style.display = 'none';
            }
        }

        Hide();

        c.onclick = function () { Hide(); }
    </script>
}