﻿@model IEnumerable<BrandShop.Domain.EntitiesDb.Product>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th class="text-right">ID</th>
        <th>Название</th>
        <th class="text-right">Цена</th>
        <th class="text-center">Действия</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.ProductId</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductId })</td>
            <td class="text-center">@item.Price.ToString("# руб")</td>
            <td class="text-center">
                <div class="btn btn-default btn-xs" onclick="AreYouRealy(@item.ProductId)">Удалить</div>
            </td>
        </tr>
    }
</table>

